* {
    padding: 0em;
    margin: 0em;
}

html, body {
	font-size: 12pt;
	font-family: "Martel", sans-serif;
	line-height: 1.5em;
	margin: auto;
}

#NavDesktop, #NavMobile, .NavHelp, .ImageContainerCollection, .ImageWithCaption img, #scrollToTopLink {

    display: none;
}

header h1 {
    content: url(../images/logo.webp);
    width: 250px;
}

a::after {
    content: " ("attr(href)")";
}

#breadcrumb {
    padding: 1em 0em;
}

footer {
    padding-top: 2em;
}

.ImageContainerCategorie p, .banner, .CollectionAstronomy, .CategorieOrologi, .Cards{
    padding: 0.75em 0em;
}
.Cards a{
    padding: 1.5em 0em;
}

.card-watch img {
    width: 15em;
    height: 15em;
}

.product-images img {
    width: 15em;
    height: 15em;
}

.icon {
display: none;
}

.domanda{
    font-weight: bold;
}